<main class="">
  <div class="counter_container">
    <h1 class="counter_header">Counter</h1>
    <p class="counter_text">
      Current count: <strong>{{ count$() }}</strong>
    </p>
    <div class="flex">
      <div class="w-1/3 px-1">
        <button
          type="button"
          (click)="increment()"
          class="px-2 py-3 bg-[#3b82f6] text-[#fff] rounded-lg w-[100%] flex justify-center items-center"
        >
          Increment
        </button>
      </div>
      <div class="w-1/3 px-1">
        <button
          type="button"
          (click)="decrement()"
          class="px-2 py-3 bg-[#3b82f6] text-[#fff] rounded-lg w-[100%] flex justify-center items-center"
        >
          Decrement
        </button>
      </div>
      <div class="w-1/3 px-1">
        <button
          type="reset"
          (click)="reset()"
          class="px-2 py-3 bg-[#f63b3b] text-[#fff] rounded-lg w-[100%] flex justify-center items-center"
        >
          Reset Counter
        </button>
      </div>
    </div>
  </div>
</main>
